<style>
  @import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Noto+Sans:ital,wdth,wght@0,62.5..100,500;1,62.5..100,500&display=swap');
  
  body {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: auto;
    padding: 20px;
    max-width: 720px;
    text-align: left;
    background-color: #2B2D42;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: #EDF2F4;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong,
  b {
    color: #EDF2F4;
  }

  a {
    color: #ECDD7B;
  }

  .title {
    font-family: "Jersey 25", sans-serif;
    font-size: x-large;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    border: 0;
  }

  .title span {
    font-weight: 400;
  }

  nav a {
    margin-right: 10px;
    font-size: large;
  }

  a svg {
    color: #FFF;
  }

  textarea {
    width: 100%;
    font-size: 16px;
  }

  input {
    font-size: 16px;
  }

  content {
    line-height: 1.6;
  }

  table {
    width: 100%;
  }

  img {
    max-width: 100%;
    max-height: 500px;
  }

  textarea,
  input {
    background-color: #252525;
    color: #ddd;
  }

  .helptext {
    color: #aaa;
  }

  code {
    color: #EDF2F4;
    padding: 2px 5px;
    background-color: #777;
  }

  pre code {
    color: #222;
    display: block;
    padding: 20px;
    white-space: pre-wrap;
    font-size: 14px;
    overflow-x: auto;
  }

  div.highlight pre {
    background-color: initial;
    color: initial;
  }

  div.highlight code {
    background-color: unset;
    color: unset;
  }

  blockquote {
    border-left: 1px solid #999;
    color: #CDE7BE;
    padding-left: 20px;
    font-style: italic;
  }

  footer {
    padding: 25px;
    text-align: center;
  }

  .errorlist {
    color: #CE8147;
    font-size: small;
  }

  /* blog posts */
  ul.blog-posts {
    list-style-type: none;
    padding: unset;
  }

  ul.blog-posts li {
    display: flex;
  }

  ul.blog-posts li span {
    flex: 0 0 130px;
  }

  ul.blog-posts li a:visited {
    color: #CDE7BE;
  }
</style>
