<style>
  /* Preload fonts */
  @media screen {
    @font-face {
      font-family: 'Noto Sans';
      font-style: normal;
      font-weight: 500;
      font-display: swap;
      src: local('Noto Sans');
    }
    @font-face {
      font-family: 'Jersey 25';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: local('Jersey 25');
    }
  }
  
  /* Async load full font variations */
  @media screen and (prefers-reduced-motion: no-preference) {
    .fonts-loaded {
      font-family: "Noto Sans", sans-serif;
      font-optical-sizing: auto;
    }
  }

  :root {
    --bg-color: #f2f2f2;
    --text-color: #1b1d36;
    --link-color: #0066cc;
    --code-bg: #1b1d36;
    --code-text: #f2f2f2;
    --blockquote-color: #d72638;
    --visited-link: #551a8b;
    --input-bg: #fff;
    --input-text: #1b1d36;
    --accent-color: #ffd400;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --bg-color: #1b1d36;
      --text-color: #f2f2f2;
      --link-color: #ffd400;
      --code-bg: #d72638;
      --code-text: #f2f2f2;
      --blockquote-color: #ffd400;
      --visited-link: #d72638;
      --input-bg: #1e96fc;
      --input-text: #f2f2f2;
      --accent-color: #ffd400;
    }
  }
  
  body {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 20px;
    max-width: 720px;
    width: 100%;
    text-align: left;
    background-color: var(--bg-color);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='8' numOctaves='5' seed='2' stitchTiles='stitch'/%3E%3CfeColorMatrix type='matrix' values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0'/%3E%3CfeComponentTransfer%3E%3CfeFuncR type='discrete' tableValues='0 .012 .02'/%3E%3CfeFuncG type='discrete' tableValues='0 .012 .02'/%3E%3CfeFuncB type='discrete' tableValues='0 .012 .02'/%3E%3C/feComponentTransfer%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.08'/%3E%3C/svg%3E");
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 1.5em;
  }

  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1, h2, h3, h4, h5, h6, strong, b {
    color: var(--text-color);
  }

  em {
    font-size: 0.9em;
  }

  h1 {
    margin-block-end: 0;
  }

  a {
    color: var(--link-color);
  }

  main h2 {
    font-size: x-large;
    margin-block-start: 0;
    margin-block-end: 1.5em;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }
  .title, h2.title {
    font-family: "Jersey 25", sans-serif;
    font-size: xx-large;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    border: 0;
    color: var(--accent-color);
  }

  .title span {
    font-weight: 400;
  }

  nav a {
    margin-right: 10px;
    font-size: x-large;
  }

  a svg {
    color: var(--text-color);
  }

  /* SVG accessibility */
  a svg {
    display: inline-block;
    vertical-align: middle;
  }

  a svg[aria-hidden="true"] {
    display: none;
  }

  a svg:not([aria-hidden="true"]) {
    display: inline-block;
  }

  a svg + span {
    margin-left: 0.5em;
  }

  textarea, input {
    width: 100%;
    font-size: 1.5em;
    background-color: var(--input-bg);
    color: var(--input-text);
  }

  content {
    line-height: 1.6;
  }

  content > h2 {
    font-size: large;
  }

  table {
    width: 100%;
  }

  img {
    max-width: 100%;
    max-height: 500px;
  }

  .helptext {
    color: #aaa;
    font-size: 1.5em;
  }

  code {
    color: var(--code-text);
    padding: 2px 5px;
    background-color: var(--code-bg);
  }

  pre code {
    color: var(--text-color);
    display: block;
    padding: 20px;
    white-space: pre-wrap;
    font-size: 1.5em;
    overflow-x: auto;
  }

  div.highlight pre {
    background-color: initial;
    color: initial;
  }

  div.highlight code {
    background-color: unset;
    color: unset;
  }

  blockquote {
    border-left: 1px solid #999;
    color: var(--blockquote-color);
    padding-left: 20px;
    font-style: italic;
  }

  footer {
    padding: 25px;
    text-align: center;
    margin-top: auto;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.8em;
  }

  .errorlist {
    color: #d72638;
    font-size: 1.5em;
  }

  /* blog posts */
  ul.blog-posts {
    list-style-type: none;
    padding: unset;
  }

  ul.blog-posts li {
    display: flex;
    margin-bottom: 1.5em;
    align-items: center;
  }

  ul.blog-posts li:not(:last-child) {
    border-bottom: 1px solid var(--text-color);
    padding-bottom: 1em;
  }

  ul.blog-posts li span {
    flex: 0 0 130px;
  }

  ul.blog-posts li a:visited {
    color: var(--visited-link);
  }

  .tags {
    font-size: 0.8em;
  }

  .tags a {
    color: var(--link-color);
  }
</style>
